<div id="<%= dom_id(task) %>">
  <div class="card-front">
    <%= turbo_stream_from "task_channel" %>
    <div class="image">
      <% if task.photo.attached? %>
        <%= cl_image_tag(task.photo.key, class: "card-img", alt: "AI-generated image of the task") %>
      <% else %>
        <%= "loading image" %>
      <% end %>
    </div>
    <div class="card-img-overlay">
      <div class="card-icons">
        <i class="icon fa-solid fa-pen-to-square fa-xl text-dark" data-bs-toggle="modal" data-bs-target="#updateModal-<%= task.id %>"></i>
        <%= link_to task_path(task), class: "text-dark", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="icon fa-solid fa-trash fa-xl"></i>
        <% end %>
      </div>
      <div class="card-right">
        <span class="due-date">
          Due: <%= task.due.strftime('%b %e, %Y') %>
          <%= form_with url: toggle_status_task_path(task), method: :patch, data: { turbo: true } do |f| %>
            <%= f.check_box :status,
                  {
                    checked: task.status == 'Completed',
                    onchange: 'this.form.submit();',
                  },
                    "Completed",
                    "In Progress" %>
            <%= f.label :status, "Completed" %>
          <% end %>
        </span>
        <span class="task-name">
          <h2 id="title"><%= task.title.titleize %></h2>
        </span>
      </div>
    </div>
  </div>

  <%# edit task modal %>
  <div class="modal fade" id="updateModal-<%= task.id %>" tabindex="-1" aria-labelledby="updateModalLabel-<%= task.id %>" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= turbo_frame_tag "modal_task_form_#{task.id}" do %>
          <%= render "tasks/form", task: task %>
        <% end %>
      </div>
    </div>
  </div>
</div>
