<%= render "banner" %>

<div class="container home-page">
  <div class="row">
    <%# <div class="col-4 sort-by justify-content-center text-center"> %>
      <%#= search_form_for @q do |f| %>
        <%#= f.label :title_cont %>
        <%#= f.search_field :title_cont, class: "form-control" %>
        <%#= link_to "Clear", request.path, class: "btn btn-default" %>
        <%#= f.submit %>
      <%# end %>
      <%# <div class="sorting-buttons">
      <button class="btn-sort"> %>
        <%#= sort_link(@q, :title) %>
      <%# </button>
      <button class="btn-sort"> %>
        <%#= sort_link(@q, :due) %>
      <%# </button>
      </div>
    </div> %>
  </div>
  <div class="row">
    <div class="col-4 all-tasks border-end border-dark">
      <div id="tasks" class="task-cards">
        <h2>Tasks in progress...</h2>
        <%= turbo_stream_from "tasks" %>
        <% if @tasks.length > 0 %>
          <% @tasks.each do |task| %>
            <%= render "task", task: task %>
          <% end %>
        <% else %>
          <div class="text-center">
            <h2>add a task...</h2>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-4 completed-tasks border-end border-dark">
      <div class="task-cards">
        <h2>Completed tasks...</h2>
        <% @completed.each do |done| %>
          <%= render "task", task: done %>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div class="new-task">
        <%= turbo_frame_tag :individual_task do %>
          <div class="new-button">
            <%= link_to "new task", new_task_path, class: "btn btn-task btn-lg" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
