<%= render "banner" %>

<div class="container home-page">
  <div class="row">
    <div class="col-4 all-tasks border-end border-dark">
      <h2 class="section-head">Tasks in progress...</h2>
      <div class="search">
        <%= render "search_form", q: @q_in_progress %>
      </div>
      <%= turbo_stream_from "tasks" %>
      <div id="tasks-list" class="task-cards">
        <% if @in_progress.length > 0 %>
          <% @in_progress.each do |task| %>
            <% if task.status == "In Progress" %>
              <div class="card task-card">
                <%= render "task", task: task %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <div class="text-center">
            <h2>add a task...</h2>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-4 completed-tasks border-end border-dark">
      <div class="task-cards">
        <h2 class="section-head">Completed tasks...</h2>
        <div class="search">
          <%= render "search_form", q: @q_completed %>
        </div>
        <% @completed.each do |done| %>
          <div class="card task-done-card text-white">
            <%= render "task", task: done %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div class="new-task my-3">
        <%= turbo_frame_tag :individual_task do %>
          <div class="new-button">
            <%= link_to "new task", new_task_path, class: "btn btn-task btn-lg" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
